/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333333;
  margin: 25px;
}

quote {
  font-size: 17.5px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

h1 {
  font-weight: bold;
  color: #333333;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, decimal) ") ";
  counter-increment: list;
}
